* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.logo img {
  width: 200px;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.hoverEffect:hover {
  color: red;
}

.project-portfolio-img {
  width: 150px;
  height: auto;
}

.contact-images {
  width: 50px;
  height: 50px;
}

nav {
  width: 100%;
  background-color: aqua !important;
}

.header,
.footer {
  background-color: aqua;
}
